<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div style="float: right">

  <a href="/shelters">Shelters Main</a>

</div>

  <body>
    <%= yield %>
  </body>
</html>
